#plane {
    -fx-background-color: #208070;
}

#set {
    -fx-background-color: #81a39d;
    -fx-text-fill: #f2f1e9;
}

#up {
    -fx-background-color: #81a39d;
    -fx-text-fill: #f2f1e9;
    -fx-smooth: true;
}

#down {
    -fx-background-color: #81a39d;
    -fx-text-fill: #f2f1e9;
    -fx-smooth: true;
}

#play {
    -fx-background-color: #81a39d;
    -fx-text-fill: #f2f1e9;
    -fx-smooth: true;
}

#progress .track {
    -fx-background-color: #208070;
}

#progress .bar {
    -fx-accent: #5a6664;
}